<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ticketbus</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: header-menu"></div>

<div class="register-form">
    <form id="register-form" method="post" onsubmit="return validate()">
        <p th:if="${info}" th:text="${info}" id="error"></p>
        <input type="text" placeholder="Login" th:field="*{registrationModel.login}" id="login">
        <input type="password" placeholder="Hasło" th:field="*{registrationModel.password}" id="pass">
        <input type="password" placeholder="Powtórz hasło" th:field="*{registrationModel.password2}" id="pass2">
        <input type="submit" value="Rejestruj!">
    </form>
</div>

<div th:replace="fragments.html :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/registerValidator.js"></script>
</body>
</html>